@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,700');
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue.otf");
}
html, body {
  font-size: 17px;
  scroll-behavior: smooth;
}
body, input, button, label {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
main {
  min-height: 200vh;
}