.article-selection, .team-selection {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 110;
    overflow-y: auto;
    display: none;
}
.article-selection--open, .team-selection--open {
  display: block;
}
.article-selection__inner, .team-selection__inner {
    display: flex;
    height: 230vh;
    padding-top: 35px;
    padding-bottom: 100vh;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: flex-start;
}
.article-selection__button, .team-selection__button {
  position: relative;
  background: none;
  border: none;
  color: #e41a1f;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  cursor: pointer;
  flex-grow: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.article-selection__button--loading::before {
  content: '';
  position: absolute;
  right: -40px;
  display: block;
  width: 25px;
  height: 25px;
  animation: pulse 1s linear infinite;
  border-radius: 50%;
  background: #e41a1f;
  user-select: none;
}
.article-selection__button-text {
  margin-left: 2rem;
  opacity: 1;
  text-align: left;
}
.article-selection__button-num, .team-selection__button-num {
  transition: font-size 300ms ease-out;
}
.article-selection__button--active .article-selection__button-num, .team-selection__button--active .team-selection__button-num {
  transition: font-size 250ms ease-out;
  font-size: 4.7rem;
}
.article-selection__button--active .article-selection__button-text {
  transition: opacity 350ms 200ms ease-out;
}
.article-selection__button--active ~ .article-selection__button--active .article-selection__button-num, .team-selection__button--active ~ .team-selection__button--active .team-selection__button-num {
  transition: font-size 300ms 250ms ease-out;
  font-size: 2.5rem;
}
.article-selection__button--active ~ .article-selection__button--active .article-selection__button-text {
  transition: opacity 300ms ease-out;
}

/* Responsive */
@media screen and (max-width: 500px){
  .article-selection__inner {
    padding-top: 0;
  }
  .article-selection__button, .team-selection__button {
    padding-left: 20px;
    font-size: 1.5rem;
  }
  .article-selection__button--active .article-selection__button-num, .team-selection__button--active .team-selection__button-num {
    font-size: 3.5rem;
  }
}