.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

/* Loading-Bar, erscheint am unteren Rand während nächster Artikel lädt */
.article[data-loaded="false"] {
  height: 70px;
  background: #e41a1f;
  justify-content: center;
  padding-bottom: 0;
}
.article[data-loaded="false"]::before {
  content: '';
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  animation: pulse 1250ms linear infinite;
}
.article[data-loaded="false"]::after {
  content: 'Nächster Artikel wird geladen...';
  font-family: Abril Fatface, Lato, sans-serif;
  color: #fff;
  margin-top: 0.5rem;
}
/* Loading-Bar bei allererstem Artikel und bei allen Artikeln, vor denen sich
   noch ein nicht geladenen Artikel befindet, verstecken */
.article[data-loaded="false"]:first-child,
.article[data-loaded="false"] ~ .article[data-loaded="false"] {
  display: none;
}

/* Header mit zentrierter Artikelüberschrift */
.article__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
  pointer-events: none;
}
.article__title {
  margin: 0 4rem;
}
@media screen and (max-width: 350px) {
  .article__title {
    padding-top: 0.5rem;
    align-self: flex-start;
  }
}

/* Artikelnummer, "klebt" am oberen Bildschirmrand bis die nächste kommt */
.article__number-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
  z-index: 1;
}
.article__number {
  font-family: "Abril Fatface", sans-serif;
  font-size: 36px;
  height: 32px;
  overflow: hidden;
  color: #e41a1f;
  cursor: pointer;
  margin: 0;
  padding: 0;
  line-height: 0;
  background: none;
  border: none;
}

.article__subtitle,
.article__teaser,
.article__text,
.article__list,
.article__h3,
.article__image {
  width: 75vw;
  max-width: 47rem;
}

/* Teaser + Author, mittig in Bildschirm füllendem Container */
.article__teaser {
  position: absolute;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.article__teaser-text {
  font-size: 1.25rem;
  line-height: 2.35rem;
}
.article__teaser-author, .article__teaser-author a {
  font-size: 1rem;
}

/* Da Teaser absolut positioniert: Folge-Element manuell nach unten schieben */
.article__teaser + .article__subtitle,
.article__teaser + .article__text,
.article__teaser + .article__list,
.article__teaser + .article__h3,
.article__teaser + .article__interview,
.article__teaser + .article__image {
  margin-top: calc(100vh - 70px);
}

/* Ab hier: Text Styling */
.article__text--highlighted {
  color: #e41a1f;
  font-weight: bold;
}
.article__text--quote {
  font-family: Abril Fatface, Lato, sans-serif;
  font-size: 1.3rem;
  color: #e41a1f;
}

.article__interview {
  font-size: 1.2rem;
  color: #e41a1f;
}

.article__text--quote,
.article__interview,
.article__subtitle {
  width: 80vw;
  max-width: 72rem;
}

.article__image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 100vh;
}

@media screen and (min-width: 400px) {
  .article[data-loaded="false"], .article__header, .article__number-container {
    height: 80px;
  }
  .article__number {
    font-size: 44px;
    height: 36px;
  }
  .article__teaser + .article__subtitle,
  .article__teaser + .article__text,
  .article__teaser + .article__list,
  .article__teaser + .article__h3,
  .article__teaser + .article__interview,
  .article__teaser + .article__image {
    margin-top: calc(100vh - 80px);
  }
}

@media screen and (min-width: 1000px) {
  .article[data-loaded="false"], .article__header, .article__number-container {
    height: 100px;
  }
  .article__number {
    font-size: 85px;
    height: 70px;
  }
  .article__teaser-text {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .article__teaser + .article__subtitle,
  .article__teaser + .article__text,
  .article__teaser + .article__list,
  .article__teaser + .article__h3,
  .article__teaser + .article__interview,
  .article__teaser + .article__image {
    margin-top: calc(100vh - 100px);
  }
  .article__text--quote {
    font-size: 2rem;
  }
  .article__interview {
    font-size: 1.5rem;
  }
  .article__image {
    width: 75vw;
    max-width: 47rem;
  }
  .article__image--fullwidth {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  }
}
