html,
body {
  scroll-behavior: smooth;
}
body,
input,
button,
label,
p,
ul {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.empty {
  min-height: auto;
}
header {
  z-index: 1;
}
h1,
h2,
h3 {
  color: #e41a1f;
  font-weight: normal;
}
h1 {
  font-family: 'Bebas Neue', 'Lato', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}
h2 {
  font-family: 'Abril Fatface', 'Lato', sans-serif;
  line-height: 1.7rem;
}
h3 {
  font-family: 'Abril Fatface', 'Lato', sans-serif;
}
ul {
  list-style: square;
}
li p {
  margin: 0.5rem 0;
}
blockquote {
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
}
input,
button,
label,
p,
a {
  font-size: 0.95rem;
  line-height: 1.9;
}

/*
Image-Wrapper, um Bildern feste Höhe/Seitenverhältnis zu geben
gegen Content-Jump, vgl. https://www.voorhoede.nl/en/blog/say-no-to-image-reflow
*/
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: url('/src/assets/images/image-loading.svg') center / 100px
    no-repeat;
}
.image > picture {
  display: block;
  position: relative;

  /*! Definiert Höhe/Seitenverhältnis des Bildes, standardmäßig 56.25% = 16:9 */
  padding-top: 56.25%;
}
.image > picture > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
}

@media (--viewport-tablet) {
  .image {
    background-size: 130px;
  }
}
@media (--viewport-desktop) {
  input,
  button,
  label,
  p,
  a {
    font-size: 1.1rem;
    line-height: 2;
  }
  h1 {
    font-size: 3.5rem;
    height: 3.1rem;
  }
  h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.7rem;
  }
  .image {
    background-size: 150px;
  }
}

/* Splashscreen */
.splash {
  width: 100%;
  height: 100vh;
  background: #e41a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.empty .splash {
  cursor: default;
}
.splash {
  transition: height 200ms ease-out;
  height: calc(var(--vh, 1vh) * 100);
}
.splash__logo {
  width: 35%;
  min-width: 80px;
  max-width: 200px;
}
.splash::after {
  content: 'Klicken, um zu starten...';
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  font-style: italic;
  animation: appear 750ms ease-in;
}
.supports-touch .splash::after {
  content: 'Tappen, um zu starten...';
}
.empty .splash::after {
  content: 'Wird geladen...';
}

/* Footer mit Logo -> Scroll to Top */
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.footer > div {
  text-align: center;
  margin: 3rem 0;
}
.footer__link {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}
.footer__logo {
  width: 100%;
  max-width: 5.5rem;
  transition: fill 200ms ease-out;
  fill: lightgray;
}
.footer__link:hover .footer__logo {
  fill: #e41a1f;
}
/* Footer verstecken, falls noch nicht alle Artikel geladen */
.article[data-loaded='false'] + .footer {
  display: none;
}

@media (--viewport-tablet) {
  .footer__logo {
    max-width: 6.5rem;
  }
}
@media (--viewport-tablet-xl) {
  .footer {
    height: 5rem;
  }
}
@media (--viewport-desktop) {
  .footer {
    height: 7rem;
  }
  .footer__logo {
    max-width: 9rem;
  }
}
