.splash {
  width: 100%;
  height: 100vh;
  background: #e41a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.splash__logo {
  width: 12%;
  min-width: 80px;
  max-width: 200px;
}