.team-member {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.team__name {
  position: absolute;
  left: 1rem;
  top: 0;
  margin: 0;
  font-family: "Abril Fatface", sans-serif;
  font-size: 90px;
  transform: translateY(3px);
  cursor: pointer;
}
.team__text {
  max-width: 37%;
  align-self: center;
  transform: translateY(-150px);
  font-size: 25px;
}
.team__text::before, .team__text::after {
  content: "";
}