.article--team {
  min-height: 100vh;
}
.article__title--team {
  margin: 0;
  font-family: "Abril Fatface", "Lato", sans-serif;
  cursor: pointer;
  align-self: center;
  padding: 0;
  pointer-events: all;
}

@media screen and (min-width: 400px) {
  .article__title--team {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .article__title--team {
    font-size: 3.8rem;
    line-height: inherit;
  }
}